In [7]:
import csv

In [8]:
f=open("G:\\NPTL\\NOTES\\new_records.csv",'r')

In [9]:
row1=[]
f.seek(0)
csv_reader=csv.reader(f)
for row in csv_reader:
    row1.append(row)

In [41]:
row1

[['emp11', 'Aakash Kumar', 'Patna', '22', 'Noida'],
 ['emp12', 'Naman Arora', 'Lucknow', '18', 'Delhi'],
 ['emp13', 'Vikas Jain', 'Bhopal', '25', 'Gurgaon'],
 ['emp14', 'Nirmal Mishra', 'Gurgaon', '21', 'Gurgaon'],
 ['emp15', 'Priya Singh', 'Gurgaon', '25', 'Delhi'],
 ['cnt17', 'Rishab Srivastava', 'Mumbai', '22', 'Noida'],
 ['emp16', 'Pravita Singh', 'Kanpur', '21', 'Delhi'],
 ['tmp18', 'Naina Gupta', 'Sonipat', '28', 'New Delhi'],
 ['cnt19', 'Jai Tiwari', 'Hyderabad', '24', 'Noida']]

In [10]:
import re
p=re.compile("emp")
row1

[['emp11', 'Aakash Kumar', 'Patna', '22', 'Noida'],
 ['emp12', 'Naman Arora', 'Lucknow', '18', 'Delhi'],
 ['emp13', 'Vikas Jain', 'Bhopal', '25', 'Gurgaon'],
 ['emp14', 'Nirmal Mishra', 'Gurgaon', '21', 'Gurgaon'],
 ['emp15', 'Priya Singh', 'Gurgaon', '25', 'Delhi'],
 ['cnt17', 'Rishab Srivastava', 'Mumbai', '22', 'Noida'],
 ['emp16', 'Pravita Singh', 'Kanpur', '21', 'Delhi'],
 ['tmp18', 'Naina Gupta', 'Sonipat', '28', 'New Delhi'],
 ['cnt19', 'Jai Tiwari', 'Hyderabad', '24', 'Noida']]

In [70]:
row3=[]
row4=[]
for row in row1:
    x,y=row[1].split(" ")
    row.pop(1)
    row.insert(1,x)
    row.insert(2,y)
    
for row in row1:
    if not (p.match(row[0])):
        row3.append(row[4].rstrip('\n'))
    else:
        row[0]=int(row[0].replace('emp',""))
        row4.append(row)

ValueError: not enough values to unpack (expected 2, got 1)

In [71]:
row3

[]

In [72]:
r=row2[0]

NameError: name 'row2' is not defined

In [73]:
x,y=r[1].split(" ")

NameError: name 'r' is not defined

In [74]:
x

'Jai'

In [75]:
y

'Tiwari'

In [76]:
r.pop(1)

NameError: name 'r' is not defined

In [ ]:
r.insert(1,x)

In [ ]:
r

In [77]:
r.insert(2,y)

NameError: name 'r' is not defined

In [78]:
r

NameError: name 'r' is not defined

In [79]:
row in row2

NameError: name 'row2' is not defined

In [80]:
r=row[0]

In [81]:
r

11

In [82]:
for row in row2:
    print(row[])

SyntaxError: invalid syntax (<ipython-input-82-bf253ee9ef07>, line 2)

In [ ]:
for row in row3:
    x,y=row[1].split(" ")
    row.pop(1)
    row.insert(1,x)
    row.insert(2,y)

In [83]:
row3

[]

In [84]:
for row in row4:
    x,y=row[1].split(" ")
    row.pop(1)
    row.insert(1,x)
    row.insert(2,y)

In [87]:
row4

[]

In [88]:
row3

[]

In [86]:
row4

[]

In [14]:
f=open("G:\\NPTL\\NOTES\\employee_list.csv","w")

In [16]:
csv_writer=csv.writer(f)

In [27]:
for row in row4:
    #csv_writer.writerow(row)
    print(row)

[11, 'Aakash', 'Kumar', 'Patna', '22', 'Noida']
[12, 'Naman', 'Arora', 'Lucknow', '18', 'Delhi']
[13, 'Vikas', 'Jain', 'Bhopal', '25', 'Gurgaon']
[14, 'Nirmal', 'Mishra', 'Gurgaon', '21', 'Gurgaon']
[15, 'Priya', 'Singh', 'Gurgaon', '25', 'Delhi']
[16, 'Pravita', 'Singh', 'Kanpur', '21', 'Delhi']

In [32]:
f1=open("G:\\NPTL\\NOTES\\employee_list1.csv","a+")

In [41]:
f1=open("C:\\Users\\dhruv\\OneDrive\\Desktop\\employee_list1.csv","a+")

In [42]:
csv_writer=csv.writer(f1)

In [66]:
for row in row4:
    #csv_writer.writerow(row)

[11, 'Aakash', 'Kumar', 'Patna', '22', 'Noida']
[12, 'Naman', 'Arora', 'Lucknow', '18', 'Delhi']
[13, 'Vikas', 'Jain', 'Bhopal', '25', 'Gurgaon']
[14, 'Nirmal', 'Mishra', 'Gurgaon', '21', 'Gurgaon']
[15, 'Priya', 'Singh', 'Gurgaon', '25', 'Delhi']
[16, 'Pravita', 'Singh', 'Kanpur', '21', 'Delhi']

In [63]:
f1.seek(0)

0

In [64]:
f1.read()

'1,Anshika,Garg,Ranchi,21,Noida\n2,Rohit,Awasthi,Allahabad,20,Delhi\n11,Aakash,Kumar,Patna,22,Noida\n\n12,Naman,Arora,Lucknow,18,Delhi\n\n13,Vikas,Jain,Bhopal,25,Gurgaon\n\n14,Nirmal,Mishra,Gurgaon,21,Gurgaon\n\n15,Priya,Singh,Gurgaon,25,Delhi\n\n16,Pravita,Singh,Kanpur,21,Delhi\n\nN,o,i,d,a\n\nD,e,l,h,i\n\nG,u,r,g,a,o,n\n\nG,u,r,g,a,o,n\n\nD,e,l,h,i\n\nD,e,l,h,i\n\n11,Aakash,Kumar,Patna,22,Noida\n\n12,Naman,Arora,Lucknow,18,Delhi\n\n13,Vikas,Jain,Bhopal,25,Gurgaon\n\n14,Nirmal,Mishra,Gurgaon,21,Gurgaon\n\n15,Priya,Singh,Gurgaon,25,Delhi\n\n16,Pravita,Singh,Kanpur,21,Delhi\n\n11,Aakash,Kumar,Patna,22,Noida\n\n12,Naman,Arora,Lucknow,18,Delhi\n\n13,Vikas,Jain,Bhopal,25,Gurgaon\n\n14,Nirmal,Mishra,Gurgaon,21,Gurgaon\n\n15,Priya,Singh,Gurgaon,25,Delhi\n\n16,Pravita,Singh,Kanpur,21,Delhi\n\n11,Aakash,Kumar,Patna,22,Noida\n\n12,Naman,Arora,Lucknow,18,Delhi\n\n13,Vikas,Jain,Bhopal,25,Gurgaon\n\n14,Nirmal,Mishra,Gurgaon,21,Gurgaon\n\n15,Priya,Singh,Gurgaon,25,Delhi\n\n16,Pravita,Singh,Kanpur,21,Delhi\n\n11,Aakash,Kumar,Patna,22,Noida\n\n12,Naman,Arora,Lucknow,18,Delhi\n\n13,Vikas,Jain,Bhopal,25,Gurgaon\n\n14,Nirmal,Mishra,Gurgaon,21,Gurgaon\n\n15,Priya,Singh,Gurgaon,25,Delhi\n\n16,Pravita,Singh,Kanpur,21,Delhi\n\n'

In [54]:
f1.seek(0)
reader=csv.reader(f1)

In [50]:

for row in reader:
    print(row)

['1', 'Anshika', 'Garg', 'Ranchi', '21', 'Noida']
['2', 'Rohit', 'Awasthi', 'Allahabad', '20', 'Delhi']
['11', 'Aakash', 'Kumar', 'Patna', '22', 'Noida']
[]
['12', 'Naman', 'Arora', 'Lucknow', '18', 'Delhi']
[]
['13', 'Vikas', 'Jain', 'Bhopal', '25', 'Gurgaon']
[]
['14', 'Nirmal', 'Mishra', 'Gurgaon', '21', 'Gurgaon']
[]
['15', 'Priya', 'Singh', 'Gurgaon', '25', 'Delhi']
[]
['16', 'Pravita', 'Singh', 'Kanpur', '21', 'Delhi']
[]